/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 14, 2017, 12:49:28 PM
    Author     : Dad
*/

body {
    background-color: gold;
}
h1 {
    color: blue;
}

table, th, td,tr {
    cellpadding:0px;
    border-collapse: collapse;
    padding: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    border: 0px solid black;
}

.charBox{
  width:12px;
  height:10px;
}

textarea#key {
	width: 300px;
	height: 12px;
	border: 3px solid #cccccc;
	padding: 0px;
	font-family: Verdana;
}